# Dependencies
node_modules

# Build outputs
dist
lib
*.d.ts

# Test coverage
coverage

# Package manager files
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE
.vscode
.idea

# Temporary files
*.log
*.tmp